@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>

<address>
    Group 4<br />
    Hà Nội<br />
    <abbr title="SĐt">SĐT: 0123456789</abbr>
</address>

<address>
    <strong>Hỗ trợ:</strong>   <a href="mailto:Support@example.com">group4@example.com</a><br />
</address>